body{
    background: linear-gradient(to right, blue, purple);
    margin: 0;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    height: 55vh;
    text-align: center;
    font-family: inherit;
    color: white;
    bottom: 1px;
    text-emphasis-color: #d4cfcf;
}

.neon {
    font-family: inherit;
    font-size: 2.5rem;
    color: white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 0.6);
}

.socials {
    text-align: center;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 30%;
    bottom: 1px;
}
  
.fa:hover {
    opacity: 0.7;
}
  
.fa-instagram{
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.fa-spotify{
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.fa-github{
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.about-me {
    position: absolute;
    left: 30px;
    top: 340px;
    max-width: 400px;
    padding: 30px;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 15px;
    font-family: 'Avnir light';
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.about-me h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color: #fff;
}

.text {
    text-align: center;
}

.photo-box {
    position: absolute;
    right: 30px;
    top: 340px;
    width: 280px;
    height: 205px;
    padding: 100px;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.photo-box h2{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    height: 15vh;
}

.photo-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.photo-box:hover h2 {
    display: none;
}

.photo-box:hover img {
    opacity: 0.7;
}