.mario{
    background-image: url(/Users/andyatmadja/devsoc-apply/src/8-bit-mario-mdaWkw1-600-removebg-preview.png);
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center; 
    animation: w1Effect 5s steps(20) infinite;
}

@keyframes w1Effect{
    from{
        background-position: 500px;
    }to{
        background-position: 900px;
    }
}